html,
body,
#map
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

body
{
    font-family: 'Trebuchet MS';

    overflow: hidden;

    background-color: #fff;
}

#header
{
    position: relative;

    height: 40px;

    border-radius: 5px 5px 0 0;
    background-color: #fff;
    background-image: url('../images/nav-menu-bg.jpg');
}

#footer
{
    position: relative;

    height: 10px;

    border-radius: 0 0 5px 5px;
    background-color: #4e4e4e;
}

#geoobserver-logo
{
    font-size: 30px;

    position: relative;
    z-index: 50;

    margin-left: 8px;
}

#borderContainer
{
    width: 100%;
    height: 100%;
    margin: 0;
}

#navtools
{
    position: absolute;
    z-index: 4;
    top: 20px;
    right: 20px;
}

#help
{
    font-size: 22px;

    position: absolute;
    top: 5px;
    right: 10px;
}

/* unvisited link */
a:link
{
    text-decoration: none;

    color: white;
}

/* visited link */
a:visited
{
    text-decoration: none;

    color: white;
}

/* mouse over link */
a:hover
{
    text-decoration: none;

    color: #ccc;
}

/* selected link */
a:active
{
    text-decoration: none;

    color: white;
}
